<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="../js/yhj.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
    <div class="contaner">
        <div class="row">
            <div class="m-title offset-4 col-4">
                银行家算法
            </div>
        </div>

        <div class="row author">
            <span class="class offset-4 col-2">
                软工181
            </span>
            <span class="name col-2">
                李兆荣
            </span>
        </div>

        <div class="row m-box">
            <div class="main-2 col-12">
                <div class="half-outer">
                    <div class="main-half">
                        <div class="m-size size-2">
                            <div>进程数量：&nbsp;</div>
                            <input type="text" name="" id="pro-num" class="in-text">
                        </div>
        
                        <div class="m-size size-2">
                            <div>资源种类：&nbsp;</div>
                            <input type="text" name="" id="src-num" class="in-text">
                        </div>
        
                        <div class="m-size size-2">
                            <div>Allocation：</div>
                            <input type="text" name="" id="allocation" class="in-text">
                        </div>
        
                        <div class="m-size size-2">
                            <div>Max：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <input type="text" name="" id="max" class="in-text">
                        </div>
        
                        <div class="m-size size-2">
                            <div>Aviliable：&nbsp;&nbsp;</div>
                            <input type="text" name="" id="aviliable" class="in-text">
                        </div>
                    </div>
                    <div class="main-half">
                        <div class="m-size size-2">
                            <div>process：&nbsp;</div>
                            <input type="text" name="" id="pro-id" class="in-text">
                        </div>
        
                        <div class="m-size size-2">
                            <div>request：&nbsp;</div>
                            <input type="text" name="" id="request" class="in-text">
                        </div>
                    </div>
                </div>
                

                

                <div class="btns row">
                    <div class="col-2 offset-3 btn btn-primary btn-block" onclick="openFile()">打开文件</div>
                    <div class="col-2 offset-2 btn btn-success" onclick="submit()">计算</div>
                </div>
                <input type="file" name="" id="file" class="offset-3" style="margin: 10px 0;display: none;">
                
            </div>
            <div class="logout col-12 logout-2">
                
            </div>
        </div>
    </div>
</body>
</html>